{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block block_of_body %}

  <div class="container bg-light text-center text-info">
  <h2>Login</h2><br/>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  </div>
{% endblock %}