{% extends "base.html" %}
{% block block_of_body %}

<div class="container bg-light text-info">
<h2>Signup</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br/>
        {{ field }}<br/>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

    {% endfor %}
    <br/><br/>
    <button class="btn btn-dark col-md-2" type="submit">Sign up</button>
  </form>
</div>

{% endblock %}