{% load static %}<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <style>
        .navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

    </style>
</head>
<body>
<div class="container text-center border-top border-bottom border-dark bg-dark font-weight-bold">
    <nav class="navbar navbar-expand-md bg-white">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">
             <img src="{% static 'images/fizzbuz.png' %}" class="img-fluid" alt="Responsive image" width="100">
          </a>
        </div>

      </div>


      <div class="container">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}

          <li><a class="navbar-link" href="{% url 'history' %}">History</a></li>
          <li><a class="navbar-link" href="{% url 'test_page' %}">Test</a></li>
          {% endif %}

          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
</div>

<div class="container">
    {% block block_of_body %}
    {% endblock %}
</div>



</body>
</html>