{% extends "base.html" %}
{% block block_of_body %}


    {% load static %}
    <div class="container text-center bg-danger">

	    <a href="{% url 'home' %}" target="_blank"> <img src="{% static 'images/fizzbuzz.png' %}" class="img-fluid" alt="Responsive image"></a>
    </div>

    <div class="container border-dark text-dark bg-light">

        <hr size="30">

        <p class="lead">Enter any number between 1 and 100, the goal is to find a number divisible by both 3 and 5 in order to pass the test.</p>
        <p class="lead">The rules are as follows:</p>

        <ul>
        <li><p class="lead">Should the number be only divisible by 3, "fizz" will be printed on the screen and the test marked as "Failed".</p></li>
        <li><p class="lead">Should the number be only divisible by 5, "buzz" will be printed on the screen and the test marked as "Failed".</p></li>
        <li><p class="lead">If number is divisible by both 3 and 5, "fizzbuzz" will be printed on the screen and test marked as "Passed".</p></li>
        <li><p class="lead">If you enter a number outside of boundaries,letter or symbol, the test will be marked as "failed"</p></li>
        </ul>

        <hr size="30">

        {% if user.is_authenticated %}
        <a href="{% url 'test_page' %}"><button type="button" class="btn btn-dark btn-lg col-md-3">Begin</button></a>
        {% else %}
        <a href="{% url 'register' %}"><button type="button" class="btn btn-dark btn-lg col-md-3 pull-center">Register</button></a>
        {% endif %}



    </div>




{% endblock %}